  
body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
      sans-serif;
    font-weight: 300;
  }
  
  #container {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
  }

#brand-logo {
    width: 200px;
  }


  